<div class="jumbotron">
    <h3>{{ $ctrl.project.name }}</h3>
    <p>Кол-во сотрудников: {{ $ctrl.project.employeeCount }}</p>
</div>
<h2>Список сотрудников</h2>
<div class="well clearfix" ng-repeat="employee in $ctrl.employees">
    <h3><a ui-sref="employee({ employeeId: employee.id })">{{ employee.firstName}} {{ employee.lastName }}</a></h3>
    <p>Позиция: {{ employee.position }}</p>
    <p>Дата рождения: {{ employee.birthDate }}</p>
    <p>Ключевой навык: {{ employee.coreSkill }}</p>
    <div class="buttons-block">
        <a ng-if="$ctrl.root.sessionRole == 'Admin'" ui-sref="testTasks({ employeeId: employee.id })" class="btn btn-sm btn-primary">Управление заданиями</a>
    </div>
</div>