<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</button>
    <h4 class="modal-title">Добавить новый вопрос</h4>
</div>
<div class="modal-body">
    <form name="newsForm" role="form">
        <div class="form-group">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" ng-model="$ctrl.question.content"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input type="submit" value="Сохранить" class="btn btn-primary" ng-click="$ctrl.save()">
    <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Отмена</button>
</div>