<div class="jumbotron">
    <h3>Вопрос №{{ $ctrl.currentQuestionNumber }} из {{ $ctrl.test.questionsCount }}</h3>
    <p>{{ $ctrl.currentQuestion.content }}</p>
    <p>Варианты ответа</p>
    <div class="radio" ng-repeat="option in $ctrl.currentOptions">
        <label><input type="radio" ng-model="$ctrl.selectedOption" value="{{ option.id }}">{{ option.content }}</label>
    </div>
    <div class="buttons-block">
        <a class="btn btn-sm btn-primary" ng-click="$ctrl.optionSelected()">Ответить</a>
    </div>
</div>