<h2>Тесты к прохождению</h2>
<div class="clearfix">
    <div class="buttons-block">
        <button class="btn btn-primary btn-md" ng-if="$ctrl.root.sessionRole == 'Admin'" ng-click="$ctrl.openAddTestTaskModal()">Добавить тест к прохождению</button>
    </div>
</div>
<div class="well clearfix" ng-repeat="testTask in $ctrl.testTasks">
    <h3>{{ testTask.testName }}</h3>
    <p>Время: {{ testTask.fixedTime }} мин.</p>
    <div class="buttons-block">
        <a ng-if="$ctrl.root.sessionEmployeeId == $ctrl.employeeId" ui-sref="passTest({ employeeId: $ctrl.employeeId, testPeriodId: testTask.testPeriodId, testId: testTask.testId })" class="btn btn-sm btn-primary">Пройти</a>
        <a ng-if="$ctrl.root.sessionRole == 'Admin'" ng-click="$ctrl.openDeleteTestTaskModal(testTask.testId)" class="btn btn-sm btn-default">Удалить</a>
    </div>
</div>